body{
	background-image: linear-gradient(to bottom, #99ccff 0%, #66ffff 100%);
	margin: 10px;
}

strong{
	text-decoration: underline;
	font-size: 20px;
	color: midnightblue;
}
p strong{
	background-color: rgba(38, 202, 150, 0.925);
}
p,li{
	font-size: 20px;
	color: indigo;
	margin-left: 20px;
}
li{
	font-style: italic;
}
.heading{
	text-decoration: underline;
	font-size: 20px;
	color: midnightblue;
	font-weight: bold;
}