body{
	
	
	background-repeat: no-repeat;
	
}

@font-face {
	font-family: myFirstFont;
	src: url(sansation_light.woff);
 }
 
 * {
	font-family: myFirstFont;
 }

 table, tr,td
 {
 border : 1px solid black;
 }



