body{
	background-color: #08AEEA;
	background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
	font-family: 'Lexend Giga', sans-serif;
	background-repeat: no-repeat;
	
}

@font-face {
	font-family: myFirstFont;
	src: url(sansation_light.woff);
 }
 
 * {
	font-family: myFirstFont;
 }





