body{
	background-image: linear-gradient(to bottom, #052f3ace 0%, #66ffff 100%);
	margin: 10px;
}
h1,h5,h4{
    text-align: center;
}
h1,h2,h3,h4,h5{
    text-decoration: underline;
}
img{
    float: centre;
}
